# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
dub.*.json
__dummy.html
docs/

# Code coverage
*.lst

# Others
/java/
examples/UnitTest/unittest
