# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
core

# DUB
.dub
docs.json
dub.*.json
__dummy.html
docs/
*-test-library
*-test-application

# Code coverage
*.lst


# Examples
examples/UnitTest/unittest
examples/UnitTest/reset-cluster
examples/SimpleDemo/simple-demo

# Others
/java/
